

.landing-poster {
    @extend .pt-5;
    @extend .pb-5;
    background-image: url('../img/poster/posterbg.svg');
    background-position: center;
    background-repeat: no-repeat;
    &__body {
        @extend .d-grid;
        @extend .p-3;
        @extend .position-relative;
        grid-template-columns: em(120px) 1fr em(120px);
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: 
        'title title date'
        'zate zate zate'
        'null null more';
        @include media-breakpoint-up(md) {
            grid-area: body;
            @extend .p-md-0;
            grid-template-columns:em(20px) em(120px) 1fr em(120px) em(20px);
            grid-template-rows: em(50px) 1fr em(45px);
            grid-template-areas: 
            'ptl title title title ptr'
            'pcl zate zate zate pcr'
            'pbl more null date date'
            ;
            &::before{
                content: "";
                background-color: #FFF;
                position: absolute;
                left: em(-50px);
                width: em(150px);
                height: 100%;
                transform: skew(-10deg, 0deg);
                
            }
        }
    }
    
    &__caption {
        grid-area: zate;
        @extend .text-justify;
        z-index: 1;
    }
    
    &__container {
        @extend .container;
    }
    
    &__date {
        grid-area: date;
        z-index: 1;
    }
    
    &__day {}
    
    &__img {
        @extend .img-fluid;
        @include media-breakpoint-up(md) {
            grid-area: img;
        }
    }
    
    &__item {
        @extend .bg-white;
        overflow: hidden;
        border-radius: em(20px);
        @extend .shadow;
        @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: repeat(2,1fr); 
            grid-template-areas: 'body img';
            }
     }

    &__month {}

    &__more {
        grid-area: more;
        background-color: #15D6F3;
        @extend .btn;
        border-radius: 20px;
        @extend .text-light;
        @extend .pr-4;
        @extend .pl-4;
    }

    &__row {
        @extend .d-grid;
        row-gap: em(30px);
    }

    &__title {
        grid-area: title;
    }

    &__year {}
    
    &__head-title{
        @extend .text-center;
        
    }
    &--right{
        // @include media-breakpoint-up(md) {
        //     grid-template-areas: 'img body';
        //     .landing-poster__body{
        //         grid-template-areas: 
        //         'title title title'
        //         'zate zate zate'
        //         'date null more'
        //         ;
        //     }
        // }
    }
}