

.landing-poster {
    padding-top: 350px;
    padding-bottom: 350px;
    background-image: url('../img/poster/posterbg.svg');
    background-position: center;
    background-repeat: no-repeat;
    &__body {
        @extend .d-grid;
        @extend .p-3;
        @extend .position-relative;
        grid-template-columns: em(120px) 1fr em(120px);
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: 
        'title title date'
        'captions captions captions'
        'null null more';
        @include media-breakpoint-up(md) {
            grid-area: body;

            grid-template-columns:em(120px) 1fr em(120px);
            grid-template-rows: em(50px) 1fr em(45px);
            grid-template-areas: 
            'title title title'
            'captions captions captions'
            'more null date'
            ;
            &::before{
                content: "";
                background-color: #FFF;
                position: absolute;
                left: em(-50px);
                width: em(150px);
                height: 100%;
                transform: skew(-10deg, 0deg);
                
            }
        }
    }
    
    &__caption {
        grid-area: captions;
        @extend .text-justify;
        z-index: 1;
    }
    
    &__container {
        @extend .container;
    }
    
    &__date {
        grid-area: date;
        z-index: 1;
        @include media-breakpoint-up(md) {
            background-color: #282a93;
            color: #FFF;
            height: 50px;
            left: -60px;
            bottom: -11px;
            width: 150px;
            line-height: 50px;
            text-align: center;
            position: relative;
            &::before{                
                content: "";
                background-color: inherit;
                position: absolute;
                width: 50px;
                height: inherit;
                transform: skew(-10deg, 0deg);
                left: -10px;
                bottom: 0;
                z-index: -5;

            }
        }
    }
    
    &__day {}
    
    &__img {
        @extend .img-fluid;
        @include media-breakpoint-up(md) {
            grid-area: img;
        }
    }
    
    &__item {
        @extend .bg-white;
        overflow: hidden;
        border-radius: em(20px);
        @extend .shadow;
        @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: repeat(2,1fr); 
            grid-template-areas: 'body img';
            }
     }

    &__month {}

    &__more {
        grid-area: more;
        background-color: #15D6F3;
        @extend .btn;
        border-radius: 20px;
        @extend .text-light;
        @extend .pr-4;
        @extend .pl-4;
    }

    &__row {
        @extend .d-grid;
        row-gap: em(30px);
    }

    &__title {
        grid-area: title;
    }

    &__year {}
    
    &__head-title{
        @extend .text-center;
        
    }
    &--right{
        @include media-breakpoint-up(md) {
            grid-template-areas: 'img body';
            .landing-poster__body{
                grid-template-areas: 
                'title title title'
                'captions captions captions'
                'date null more'
                ;
                &::before{
                    content: "";
                    background-color: #FFF;
                    position: absolute;
                    right: em(-40px);
                    width: em(150px);
                    height: 100%;
                    transform: skew(-10deg, 0deg);
                    
                }
            }
            .landing-poster__date{
                @include media-breakpoint-up(md) {
                    background-color: #282a93;
                    color: #FFF;
                    height: 50px;
                    right: -11px;
                    bottom: -11px;
                    width: 150px;
                    line-height: 50px;
                    text-align: center;
                    position: relative;
                    &::before{                
                        content: "";
                        background-color: inherit;
                        position: absolute;
                        width: 50px;
                        height: inherit;
                        transform: skew(-10deg, 0deg);
                        right: -10px;
                        bottom: 0;
                        z-index: -5;
            
                    }
               }
            }


        }
    }
}


/*
&__date {
    grid-area: date;
    z-index: 1;
    @include media-breakpoint-up(md) {
        background-color: #282a93;
        color: #FFF;
        height: 50px;
        left: -60px;
        bottom: -11px;
        width: 150px;
        line-height: 50px;
        text-align: center;
        position: relative;
        &::before{                
            content: "";
            background-color: inherit;
            position: absolute;
            width: 50px;
            height: inherit;
            transform: skew(-10deg, 0deg);
            left: -10px;
            bottom: 0;
            z-index: -5;

        }
    }
}

*/