

.landing-poster {
    @extend .pt-5;
    @extend .pb-5;
    background-image: url('../img/poster/posterbg.svg');
    background-position: center;
    background-repeat: no-repeat;
    &__body {
        @extend .d-grid;
        @extend .p-3;
        grid-template-columns: 120px 1fr 120px;
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: 
        'title title date'
        'zate zate zate'
        'null null more';
        @include media-breakpoint-up(md) {
            grid-area: body;
            grid-template-rows: 80px 1fr 45px;
        }
    }
    
    &__caption {
        grid-area: zate;
        @extend .text-justify;
    }
    
    &__container {
        @extend .container;
    }
    
    &__date {
        grid-area: date;
    }
    
    &__day {}
    
    &__img {
        @extend .img-fluid;
        @include media-breakpoint-up(md) {
            grid-area: img;
        }
    }
    
    &__item {
        @extend .bg-white;
        overflow: hidden;
        border-radius: em(20px);
        @extend .shadow;
        @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: repeat(2,1fr); 
            grid-template-areas: 'body img';
            }
     }

    &__month {}

    &__more {
        grid-area: more;
        background-color: #15D6F3;
        @extend .btn;
        border-radius: 20px;
        @extend .text-light;
        @extend .pr-4;
        @extend .pl-4;
    }

    &__row {
        @extend .d-grid;
        row-gap: em(30px);
    }

    &__title {
        grid-area: title;
    }

    &__year {}
    
    &__head-title{
        @extend .text-center;
        
    }
}