.landing-news {
    padding-top   : 350px;
    padding-bottom: 350px;
    background-image: url(../img/services/services-bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    &__caption {}

    &__container {
        @extend .container;
    }
    &__divider{
        border-width: 2px;
        @extend .border-danger;
        outline: none;
    }

    &__img {
        @extend .img-fluid;
        @extend .rounded;
        @extend .shadow-sm;
    }

    &__item {
        @extend .d-grid;
        grid-template-columns: 3fr 1fr 3fr;
        column-gap: em(10px);
        @extend .align-items-center;
    }

    &__row {
        @extend .d-grid;
        row-gap: em(30px);
    }

    &__title {}
}
